# connect PS I2C to PL through EMIO
# SCL on microzed JX2 13 -> bank35 G14
NET "processing_system7_0_I2C0_SCL_pin" LOC = G14;
NET "processing_system7_0_I2C0_SCL_pin" IOSTANDARD = LVCMOS25;
NET "processing_system7_0_I2C0_SCL_pin" PULLUP;
# SDA on microzed JX2 14 -> bank35 J15
NET "processing_system7_0_I2C0_SDA_pin" LOC = J15;
NET "processing_system7_0_I2C0_SDA_pin" IOSTANDARD = LVCMOS25;
NET "processing_system7_0_I2C0_SDA_pin" PULLUP;

# LVDS clock, 125 MHz
# microzed JX1 pins 48 and 50
NET "counter_extdiff_0_ExtClk125_P_pin" LOC = N20;
NET "counter_extdiff_0_ExtClk125_P_pin" IOSTANDARD = LVDS_25;
NET "counter_extdiff_0_ExtClk125_N_pin" LOC = P20;
NET "counter_extdiff_0_ExtClk125_N_pin" IOSTANDARD = LVDS_25;
NET "counter_extdiff_0_ExtClk125_P_pin" TNM_NET = "clock125fpga_grp";
TIMESPEC TS_clock125fpga_grp = PERIOD "clock125fpga_grp" 8 ns HIGH 50 %;

# DAC interface pins
NET "dac3283ddrout_0_dac_dataclk_P_pin" LOC = M14;
NET "dac3283ddrout_0_dac_dataclk_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_dataclk_N_pin" LOC = M15;
NET "dac3283ddrout_0_dac_dataclk_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_frame_P_pin" LOC = T11;
NET "dac3283ddrout_0_dac_frame_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_frame_N_pin" LOC = T10;
NET "dac3283ddrout_0_dac_frame_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit0_P_pin" LOC = T14;
NET "dac3283ddrout_0_dac_bit0_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit0_N_pin" LOC = T15;
NET "dac3283ddrout_0_dac_bit0_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit1_P_pin" LOC = V12;
NET "dac3283ddrout_0_dac_bit1_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit1_N_pin" LOC = W13;
NET "dac3283ddrout_0_dac_bit1_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit2_P_pin" LOC = U13;
NET "dac3283ddrout_0_dac_bit2_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit2_N_pin" LOC = V13;
NET "dac3283ddrout_0_dac_bit2_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit3_P_pin" LOC = T12;
NET "dac3283ddrout_0_dac_bit3_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit3_N_pin" LOC = U12;
NET "dac3283ddrout_0_dac_bit3_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit4_P_pin" LOC = K16;
NET "dac3283ddrout_0_dac_bit4_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit4_N_pin" LOC = J16;
NET "dac3283ddrout_0_dac_bit4_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit5_P_pin" LOC = N15;
NET "dac3283ddrout_0_dac_bit5_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit5_N_pin" LOC = N16;
NET "dac3283ddrout_0_dac_bit5_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit6_P_pin" LOC = L14;
NET "dac3283ddrout_0_dac_bit6_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit6_N_pin" LOC = L15;
NET "dac3283ddrout_0_dac_bit6_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit7_P_pin" LOC = K14;
NET "dac3283ddrout_0_dac_bit7_P_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_bit7_N_pin" LOC = J14;
NET "dac3283ddrout_0_dac_bit7_N_pin" IOSTANDARD = LVDS_25;
NET "dac3283ddrout_0_dac_txenable_pin" LOC = R19;
NET "dac3283ddrout_0_dac_txenable_pin" IOSTANDARD = LVCMOS25;

#dac timing constraints
#NET "sys_i/dac3283ddrout_0/dac3283ddrout_0/USER_LOGIC_I/Clk250" TNM_NET = "dac_ddr_clock";
NET "sys_i/dac3283ddrout_0/dac_dataclk_P" TNM = "dac_ddr_out_pads90";
NET "sys_i/dac3283ddrout_0/dac_dataclk_N" TNM = "dac_ddr_out_pads90";
NET "sys_i/dac3283ddrout_0/dac_bit*" TNM = "dac_ddr_out_pads";
NET "sys_i/dac3283ddrout_0/dac_frame_N" TNM = "dac_ddr_out_pads";
NET "sys_i/dac3283ddrout_0/dac_frame_P" TNM = "dac_ddr_out_pads";
# static timing info report
TIMEGRP "dac_ddr_out_pads" OFFSET = OUT AFTER "counter_extdiff_0_ExtClk125_P_pin" RISING;
TIMEGRP "dac_ddr_out_pads" OFFSET = OUT AFTER "counter_extdiff_0_ExtClk125_P_pin" FALLING;
TIMEGRP "dac_ddr_out_pads90" OFFSET = OUT AFTER "counter_extdiff_0_ExtClk125_P_pin" RISING;
TIMEGRP "dac_ddr_out_pads90" OFFSET = OUT AFTER "counter_extdiff_0_ExtClk125_P_pin" FALLING;

#NET "sys_i/dac3283ddrout_0/dac3283ddrout_0/USER_LOGIC_I/Clk250ph90" TNM_NET = "dac_ddr_clock90";
#NET "sys_i/dac3283ddrout_0_dac_dataclk_N" TNM = "dac_ddr_out_pads90";

#TIMEGRP "dac_ddr_out_pads90" OFFSET = OUT AFTER "sys_i/dac3283ddrout_0/dac3283ddrout_0/USER_LOGIC_I/Clk250ph90" RISING;
#TIMEGRP "dac_ddr_out_pads90" OFFSET = OUT AFTER "sys_i/dac3283ddrout_0/dac3283ddrout_0/USER_LOGIC_I/Clk250ph90" FALLING;

#ADC LEFT pin constraints
NET "ltc2185ddrin_0_ddrinclk_p_pin" LOC = K17 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinclk_n_pin" LOC = K18 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinof_p_pin" LOC = B19 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinof_n_pin" LOC = A20 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_p_pin[0]" LOC = K19 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_n_pin[0]" LOC = J19 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_p_pin[1]" LOC = M17 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_n_pin[1]" LOC = M18 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_p_pin[2]" LOC = M19 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_n_pin[2]" LOC = M20 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_p_pin[3]" LOC = L19 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_n_pin[3]" LOC = L20 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_p_pin[4]" LOC = F16 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_n_pin[4]" LOC = F17 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_p_pin[5]" LOC = E18 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_n_pin[5]" LOC = E19 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_p_pin[6]" LOC = D19 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_n_pin[6]" LOC = D20 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_p_pin[7]" LOC = E17 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinA_n_pin[7]" LOC = D18 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_p_pin[0]" LOC = H15 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_n_pin[0]" LOC = G15 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_p_pin[1]" LOC = G19 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_n_pin[1]" LOC = G20 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_p_pin[2]" LOC = J20 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_n_pin[2]" LOC = H20 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_p_pin[3]" LOC = G17 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_n_pin[3]" LOC = G18 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_p_pin[4]" LOC = F19 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_n_pin[4]" LOC = F20 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_p_pin[5]" LOC = H16 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_n_pin[5]" LOC = H17 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_p_pin[6]" LOC = J18 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_n_pin[6]" LOC = H18 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_p_pin[7]" LOC = L16 | IOSTANDARD = LVDS_25;
NET "ltc2185ddrin_0_ddrinB_n_pin[7]" LOC = L17 | IOSTANDARD = LVDS_25;

#ADC Left timing constraints
NET "ltc2185ddrin_0_ddrinclk_p_pin" TNM_NET = "clock125adcL_grp";
TIMESPEC TS_clock125adcL_grp = PERIOD "clock125adcL_grp" 8 ns HIGH 50 %;
NET "sys_i/ltc2185ddrin_0/ddrinA*" TNM = "adcL_ddr_in_pads";
NET "sys_i/ltc2185ddrin_0/ddrinB*" TNM = "adcL_ddr_in_pads";
#NET "sys_i/ltc2185ddrin_0/ddrinof_p_pin" TNM = "adcL_ddr_in_pads";
#NET "sys_i/ltc2185ddrin_0/ddrinof_n_pin" TNM = "adcL_ddr_in_pads";
TIMEGRP "adcL_ddr_in_pads" OFFSET = IN 2300 ps VALID 4 ns BEFORE "ltc2185ddrin_0_ddrinclk_p_pin" RISING;
TIMEGRP "adcL_ddr_in_pads" OFFSET = IN 2300 ps VALID 4 ns BEFORE "ltc2185ddrin_0_ddrinclk_p_pin" FALLING;

#PS LOCs (autogenerated)
NET "processing_system7_0_DDR_Addr[0]" LOC = N2;
NET "processing_system7_0_DDR_Addr[1]" LOC = K2;
NET "processing_system7_0_DDR_Addr[2]" LOC = M3;
NET "processing_system7_0_DDR_Addr[3]" LOC = K3;
NET "processing_system7_0_DDR_Addr[4]" LOC = M4;
NET "processing_system7_0_DDR_Addr[5]" LOC = L1;
NET "processing_system7_0_DDR_Addr[6]" LOC = L4;
NET "processing_system7_0_DDR_Addr[7]" LOC = K4;
NET "processing_system7_0_DDR_Addr[8]" LOC = K1;
NET "processing_system7_0_DDR_Addr[9]" LOC = J4;
NET "processing_system7_0_DDR_Addr[10]" LOC = F5;
NET "processing_system7_0_DDR_Addr[11]" LOC = G4;
NET "processing_system7_0_DDR_Addr[12]" LOC = E4;
NET "processing_system7_0_DDR_Addr[13]" LOC = D4;
NET "processing_system7_0_DDR_Addr[14]" LOC = F4;
NET "processing_system7_0_DDR_BankAddr[0]" LOC = L5;
NET "processing_system7_0_DDR_BankAddr[1]" LOC = R4;
NET "processing_system7_0_DDR_BankAddr[2]" LOC = J5;
NET "processing_system7_0_DDR_CAS_n" LOC = P5;
NET "processing_system7_0_DDR_CKE" LOC = N3;
NET "processing_system7_0_DDR_CS_n" LOC = N1;
NET "processing_system7_0_DDR_Clk" LOC = L2;
NET "processing_system7_0_DDR_Clk_n" LOC = M2;
NET "processing_system7_0_DDR_DM[0]" LOC = A1;
NET "processing_system7_0_DDR_DM[1]" LOC = F1;
NET "processing_system7_0_DDR_DM[2]" LOC = T1;
NET "processing_system7_0_DDR_DM[3]" LOC = Y1;
NET "processing_system7_0_DDR_DQ[0]" LOC = C3;
NET "processing_system7_0_DDR_DQ[1]" LOC = B3;
NET "processing_system7_0_DDR_DQ[2]" LOC = A2;
NET "processing_system7_0_DDR_DQ[3]" LOC = A4;
NET "processing_system7_0_DDR_DQ[4]" LOC = D3;
NET "processing_system7_0_DDR_DQ[5]" LOC = D1;
NET "processing_system7_0_DDR_DQ[6]" LOC = C1;
NET "processing_system7_0_DDR_DQ[7]" LOC = E1;
NET "processing_system7_0_DDR_DQ[8]" LOC = E2;
NET "processing_system7_0_DDR_DQ[9]" LOC = E3;
NET "processing_system7_0_DDR_DQ[10]" LOC = G3;
NET "processing_system7_0_DDR_DQ[11]" LOC = H3;
NET "processing_system7_0_DDR_DQ[12]" LOC = J3;
NET "processing_system7_0_DDR_DQ[13]" LOC = H2;
NET "processing_system7_0_DDR_DQ[14]" LOC = H1;
NET "processing_system7_0_DDR_DQ[15]" LOC = J1;
NET "processing_system7_0_DDR_DQ[16]" LOC = P1;
NET "processing_system7_0_DDR_DQ[17]" LOC = P3;
NET "processing_system7_0_DDR_DQ[18]" LOC = R3;
NET "processing_system7_0_DDR_DQ[19]" LOC = R1;
NET "processing_system7_0_DDR_DQ[20]" LOC = T4;
NET "processing_system7_0_DDR_DQ[21]" LOC = U4;
NET "processing_system7_0_DDR_DQ[22]" LOC = U2;
NET "processing_system7_0_DDR_DQ[23]" LOC = U3;
NET "processing_system7_0_DDR_DQ[24]" LOC = V1;
NET "processing_system7_0_DDR_DQ[25]" LOC = Y3;
NET "processing_system7_0_DDR_DQ[26]" LOC = W1;
NET "processing_system7_0_DDR_DQ[27]" LOC = Y4;
NET "processing_system7_0_DDR_DQ[28]" LOC = Y2;
NET "processing_system7_0_DDR_DQ[29]" LOC = W3;
NET "processing_system7_0_DDR_DQ[30]" LOC = V2;
NET "processing_system7_0_DDR_DQ[31]" LOC = V3;
NET "processing_system7_0_DDR_DQS[0]" LOC = C2;
NET "processing_system7_0_DDR_DQS[1]" LOC = G2;
NET "processing_system7_0_DDR_DQS[2]" LOC = R2;
NET "processing_system7_0_DDR_DQS[3]" LOC = W5;
NET "processing_system7_0_DDR_DQS_n[0]" LOC = B2;
NET "processing_system7_0_DDR_DQS_n[1]" LOC = F2;
NET "processing_system7_0_DDR_DQS_n[2]" LOC = T2;
NET "processing_system7_0_DDR_DQS_n[3]" LOC = W4;
NET "processing_system7_0_DDR_DRSTB" LOC = B4;
NET "processing_system7_0_DDR_ODT" LOC = N5;
NET "processing_system7_0_DDR_RAS_n" LOC = P4;
NET "processing_system7_0_DDR_VRN" LOC = G5;
NET "processing_system7_0_DDR_VRP" LOC = H5;
NET "processing_system7_0_DDR_WEB_pin" LOC = M5;
NET "processing_system7_0_MIO[0]" LOC = E6;
NET "processing_system7_0_MIO[1]" LOC = A7;
NET "processing_system7_0_MIO[2]" LOC = B8;
NET "processing_system7_0_MIO[3]" LOC = D6;
NET "processing_system7_0_MIO[4]" LOC = B7;
NET "processing_system7_0_MIO[5]" LOC = A6;
NET "processing_system7_0_MIO[6]" LOC = A5;
NET "processing_system7_0_MIO[7]" LOC = D8;
NET "processing_system7_0_MIO[8]" LOC = D5;
NET "processing_system7_0_MIO[9]" LOC = B5;
NET "processing_system7_0_MIO[10]" LOC = E9;
NET "processing_system7_0_MIO[11]" LOC = C6;
NET "processing_system7_0_MIO[12]" LOC = D9;
NET "processing_system7_0_MIO[13]" LOC = E8;
NET "processing_system7_0_MIO[14]" LOC = C5;
NET "processing_system7_0_MIO[15]" LOC = C8;
NET "processing_system7_0_MIO[16]" LOC = A19;
NET "processing_system7_0_MIO[17]" LOC = E14;
NET "processing_system7_0_MIO[18]" LOC = B18;
NET "processing_system7_0_MIO[19]" LOC = D10;
NET "processing_system7_0_MIO[20]" LOC = A17;
NET "processing_system7_0_MIO[21]" LOC = F14;
NET "processing_system7_0_MIO[22]" LOC = B17;
NET "processing_system7_0_MIO[23]" LOC = D11;
NET "processing_system7_0_MIO[24]" LOC = A16;
NET "processing_system7_0_MIO[25]" LOC = F15;
NET "processing_system7_0_MIO[26]" LOC = A15;
NET "processing_system7_0_MIO[27]" LOC = D13;
NET "processing_system7_0_MIO[28]" LOC = C16;
NET "processing_system7_0_MIO[29]" LOC = C13;
NET "processing_system7_0_MIO[30]" LOC = C15;
NET "processing_system7_0_MIO[31]" LOC = E16;
NET "processing_system7_0_MIO[32]" LOC = A14;
NET "processing_system7_0_MIO[33]" LOC = D15;
NET "processing_system7_0_MIO[34]" LOC = A12;
NET "processing_system7_0_MIO[35]" LOC = F12;
NET "processing_system7_0_MIO[36]" LOC = A11;
NET "processing_system7_0_MIO[37]" LOC = A10;
NET "processing_system7_0_MIO[38]" LOC = E13;
NET "processing_system7_0_MIO[39]" LOC = C18;
NET "processing_system7_0_MIO[40]" LOC = D14;
NET "processing_system7_0_MIO[41]" LOC = C17;
NET "processing_system7_0_MIO[42]" LOC = E12;
NET "processing_system7_0_MIO[43]" LOC = A9;
NET "processing_system7_0_MIO[44]" LOC = F13;
NET "processing_system7_0_MIO[45]" LOC = B15;
NET "processing_system7_0_MIO[46]" LOC = D16;
NET "processing_system7_0_MIO[47]" LOC = B14;
NET "processing_system7_0_MIO[48]" LOC = B12;
NET "processing_system7_0_MIO[49]" LOC = C12;
NET "processing_system7_0_MIO[50]" LOC = B13;
NET "processing_system7_0_MIO[51]" LOC = B9;
NET "processing_system7_0_MIO[52]" LOC = C10;
NET "processing_system7_0_MIO[53]" LOC = C11;
